
[Unit]
Description=audio stream schedule
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3

Group=audiostream
ExecStart=/bin/start-stream-schedule.sh
ExecReload=/bin/kill -HUP $(cat /var/run/stream-schedule/stream-schedule.pid)

[Install]
WantedBy=multi-user.target

